/* Estilos generales para la página de detalles de la reserva */
.reserve-detail {
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  margin-bottom: 2rem;
  max-width: 600px; /* Limitar el ancho máximo */
  margin: 0 auto; /* Centrar el contenido */
}

h2 {
  margin-left: 1rem;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 2rem;
}

button {
  padding: 0.8rem 1.5rem;
  margin: 0.8rem;
  font-size: 1.1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Estilos para los pop-ups (Overlay) */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo más oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Estilos para el contenido del pop-up */
.popup-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 450px;
  width: 100%;
}

.popup-content h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Estilos para el pop-up de dinero (extraer o depositar) */
.popup-content input {
  padding: 0.8rem;
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1.8rem;
  box-sizing: border-box;
}

.popup-content button {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1.5rem;
}

/* Estilos para los botones del pop-up */
.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Separación entre los botones */
}

.popup-buttons button {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1; /* Hacer que los botones ocupen el mismo tamaño */
}

.btn-confirm {
  background-color: #28a745; /* Verde */
  color: white;
}

.btn-confirm:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.btn-cancel:hover {
  background-color: #bbb;
  transform: scale(1.05);
}

/* Estilos para el pop-up de eliminación */
.popup-content h3 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.popup-buttons button {
  padding: 1rem 2.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-confirm {
  background-color: #e15fbc; /* Rosa */
  color: white;
}

.btn-confirm:hover {
  background-color: #d81b60;
  transform: scale(1.05);
}

.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.btn-cancel:hover {
  background-color: #bbb;
  transform: scale(1.05);
}
