/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.divider {
    margin: 0.3rem;
    border-bottom: 1px solid #d4d3d3;
    border-color: #afd5fc;  
}

.transactions-container {
    width: 50%;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-top: 3rem;
}

.add-transaction {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-transaction:hover {
    background-color: #0056b3;
}

/* Transaction Styles */
.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}


/* Detalles de la transacción */
.details {
    flex: 1;
    margin-left: 10px;
}

.details h3 {
    margin: 0;
    font-size: 1.1em;
}

.details p {
    margin: 5px 0;
    color: gray;
    font-size: 0.9em;
}

/* Cantidad */
.amount {
    font-weight: bold;
    font-size: 1em;
}

.pagination {

    display: flex;
    justify-content: center;
    gap: 1rem;       /* Espaciado entre los botones */
}

.pagination button {
    background-color: white;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem; /* Espaciado interno con rem */
    cursor: pointer;
}


