  <div class="transactions-container">

    <div *ngFor="let transaction of transactions">

      <app-transaction
        [transaction]="transaction" 
        [currentUserCVU]="entityCVU" 
        (transactionSelected)="onTransactionSelected($event)">
      </app-transaction>
      <hr class="divider">
    </div>

    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <button (click)="nextPage()">Siguiente</button>
    </div>
</div>

  