<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div id="titulo">
        <img src="src\logoNexo.png" alt="">
        <h1 id="nombre">NEXO</h1>
        <h3 id="slogan">Conecta, transfiere, vive</h3>
        <p >Nuestra billetera virtual es una aplicación que te permite realizar pagos y transferencias de manera rápida y segura. </p>
       </div>
    
       <div id="info">
        <p>Con nuestra billetera virtual, podes:</p>
        <ul>
            <li>Enviar y recibir dinero al instante.</li>
            <li>Realizar pagos en línea de manera segura.</li>
            <li>Reservar tu dinero.</li>
            <li>Acceder a promociones y descuentos exclusivos.</li>
        </ul>
        <p>Regístrate hoy mismo y empieza a disfrutar de todos los beneficios que nuestra billetera virtual tiene para ofrecerte.</p>
        </div>
    </div>
</body>
</html>



