<!--<html>
<body>
    <div id=containerInfo>
        <div id="titulo">
            <div id="marca">
            <h1 id="nombre">NEXO</h1>
            <h3 id="slogan">Conecta, transfiere, vive</h3>
            </div>
            <p id="tituloInfo">Nuestra billetera virtual es una aplicación que te permite realizar pagos y transferencias de manera rápida y segura. </p>
        </div>
    
       <div id="info">
        <p>Con nuestra billetera virtual, podes:</p>
        <ul>
            <li>Enviar y recibir dinero al instante.</li>
            <li>Realizar pagos en línea de manera segura.</li>
            <li>Reservar tu dinero.</li>
            <li>Acceder a promociones y descuentos exclusivos.</li>
        </ul>
        <p>Regístrate hoy mismo y empieza a disfrutar de todos los beneficios que nuestra billetera virtual tiene para ofrecerte.</p>
        </div>
    </div>
</body>
</html>
-->
<html>
<body>
    <div id=containerInfo>
        <div id="titulo">
            <div id="marca">
            <h1 id="nombre">NEXO</h1>
            <h3 id="slogan">Conecta, transfiere, vive</h3>
            </div>
            <p id="tituloInfo">Nuestra billetera virtual es una aplicación que te permite realizar pagos y transferencias de manera rápida y segura. </p>
        </div>
    
        <p>Regístrate hoy mismo y empieza a disfrutar de todos los beneficios que nuestra billetera virtual tiene para ofrecerte.</p> 
    </div>
    <div id="cuadrosContainer">
        <div id="cuadro1" class="cuadros">Enviar y recibir dinero al instante.</div>
        <div id="cuadro2" class="cuadros">Realizar pagos en línea de manera segura.</div>
        <div id="cuadro3" class="cuadros">Reservar tu dinero.</div>
        <div id="cuadro4" class="cuadros">Acceder a promociones y descuentos exclusivos.</div>
    </div>

   
</body>

</html>


