<div class="reserve-form-container">
  <h2>Nueva Reserva</h2>

  <form [formGroup]="reserveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="reason">Razón</label>
      <input id="reason" formControlName="reason" type="text" placeholder="Descripción de la reserva" />
      <div *ngIf="reserveForm.controls['reason'].invalid && reserveForm.controls['reason'].touched" class="error">
        Campo obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Monto</label>
      <input id="amount" formControlName="amount" type="number" placeholder="Monto de la reserva" />
      <div *ngIf="reserveForm.controls['amount'].invalid && reserveForm.controls['amount'].touched" class="error">
        <div *ngIf="reserveForm.controls['amount'].hasError('required')">
          Campo obligatorio.
        </div>
        <div *ngIf="reserveForm.controls['amount'].hasError('min')">
          Ingrese un monto.
        </div>
        <div *ngIf="reserveForm.controls['amount'].hasError('amountExceedsBalance')">
          Dinero insuficiente
        </div>
      </div>
      <div id="mensajeDinero">
        Dinero en cuenta: ${{ entity?.balance }}
      </div>
    </div>

    <button type="submit" [disabled]="reserveForm.invalid">Agregar Reserva</button>
  </form>
</div>
