.income {
    color: green;
    font-weight: bold;
  }
  
  .expense {
    color: red;
    font-weight: bold;
  }
  
  .transaction-details-container {
    background-color: #f9f9f9; /* Fondo claro para contraste */
    border: 1px solid #dcdcdc; /* Borde sutil */
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: left;
  }
  
  .transaction-details-container h1 {
    color: #3c3177; /* Tono principal */
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .transaction-details-container p {
    font-size: 16px;
    margin: 10px 0;
    color: #333; /* Texto oscuro */
  }
  
  .transaction-details-container p strong {
    color: #3c3177; /* Resalta los títulos */
  }
  
  .transaction-details-container .income {
    color: #4caf50; /* Verde para ingresos */
    font-weight: bold;
  }
  
  .transaction-details-container .expense {
    color: #f44336; /* Rojo para egresos */
    font-weight: bold;
  }
  
  .back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fcfcfc;
    background-color: #3c3177;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #aa4fa5; /* Efecto hover */
  }
  