<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>

  <div id="main-container">
    <!-- Money Management Section -->
    <div id="moneyManagement">
      <p id="leyenda">Dinero en cuenta</p> 
      <p id="balance">$ {{ entity.balance }}</p>

      <hr>
      <div id="botones">
        <div>
          <button id="cvu-button" class="buttons" (click)="toggleDropdown()"><img src="../../assets/CVU.png" alt=""></button>
          <div id="cvu-dropdown" class="cvu-dropdown">
            <p>CVU: {{ entityCVU }}</p> <!-- Muestra el CVU de la variable de TypeScript -->
            <p><strong>Alias:</strong> {{ entity?.alias }}</p> <!-- Muestra el alias de la entidad -->
          </div>
          <p class="leyendaBotones">Tu CVU</p>
        </div>
        <div>
          <button class="buttons" routerLink="/deposit"> <img src="../../assets/Ingresar.png" alt=""></button>
          <p class="leyendaBotones">Ingresar</p>
        </div>
        <div>
          <button class="buttons" routerLink="/transaction/addmenu"><img src="../../assets/Transferir.png" alt=""></button>  
          <p class="leyendaBotones">Transferir</p>
        </div><div>
          <button class="buttons" routerLink="/reserves"><img src="../../assets/Reserva.png" alt=""></button>  
          <p class="leyendaBotones">Reservar</p>
        </div>
        </div>
      
    </div>

    <!-- Transactions List -->
    <div id="transactions">
      <h3>Tu última actividad</h3>
      <ul>
        <div *ngFor="let transaction of transactions">
          <app-transaction 
           [transaction]="transaction" 
           [currentUserCVU]="entityCVU" 
           (transactionSelected)="onTransactionSelected($event)">
          </app-transaction>

          <hr class="divider">
        </div>
      </ul>
      <p class="verMasButton" routerLink="/transactions">Ver más</p>  
    </div>
  </div>
</body>
</html>
