/* Global Styles */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: #e0e0e0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 1.25rem; /* 20px */
}

/* Main Container */
#main-container {
  display: flex;
  gap: 1.25rem; /* 20px */
}

/* Money Management Section */
#moneyManagement {
  background-color: #fff;
  border-radius: 0.5rem; /* Sin cambio */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  padding: 2rem; /* Sin cambio */
  width: 30rem; /* 30rem */
  height: 16rem; /* 15rem */
  text-align: center;
}

#leyenda {
  font-size: 1em; /* Sin cambio */
  color: #747474;
  margin-bottom: 0.625rem; /* 10px */
}

#balance {
  color: #333;
  font-size: 2em; /* Sin cambio */
  margin: 0.625rem 0; /* 10px 0 */
}

.button-container{
  display: flex;
  justify-content: center;
}

.buttons {
  background-color: #c5a3da; /* Violeta suave */
  color: white;
  border: none;
  border-radius: 50%; /* Botón redondo */
  width: 3rem; /* Ancho del botón */
  height: 3rem; /* Altura del botón, igual para mantener forma circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem; /* Tamaño del texto */
  transition: background-color 0.3s ease;
  margin: 0.625rem; /* Espaciado entre botones */
}

.buttons:hover {
  background-color: #a982c2; /* Violeta más oscuro al hacer hover */
}

/* Icono dentro del botón redondo */
.buttons img {
  border-radius: 50%; /* Asegura que también sea redondeado si es necesario */
  object-fit: cover; /* Para que las imágenes se ajusten bien */
  height: 3.0rem; /* Tamaño del icono */
}

.cvu-details {
  margin-left: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

/* Contenedor del texto desplegable */
.cvu-dropdown {
  display: none; 
  background-color: #fff;
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem; 
  margin-top: 4rem; 
  font-size: 1rem; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  width: max-content; 
  position: absolute; 
  text-align: left;
  z-index: 10; 
}

/* Mostrar el desplegable */
.cvu-dropdown.show {
  display: block;
}



.hidden {
  display: none;
}


.buttons:hover {
  background-color: #a982c2; /* Violeta más oscuro al hacer hover */
}

/* Transactions Section */
/* Transactions Section */
#transactions {
  background-color: #fff;
  border-radius: 0.625rem; /* 10px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px */
  padding: 1.25rem; /* 20px */
  width: 30rem; /* 300px */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto empuja el contenido hacia arriba y el botón hacia abajo */
  height: 100%; /* Esto asegura que el contenedor ocupe todo el espacio disponible */
}

.verMasButton {
  font-weight: bold;
  color: #73408e;
  margin-top: auto; /* Esto hace que el botón se empuje siempre al fondo */
  cursor: pointer;
}


#transactions h3 {
  margin-bottom: 0.9375rem; /* 15px */
  color: #333;
}

#botones {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem; /* 20px */
}

.leyendaBotones {
  font-size: 0.875rem; /* 14px */
  color: #747474;
}

.divider{
  border-top: 1px solid #bbbbbb;
  margin-bottom: 0.5rem;
}