<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div *ngIf="entityDetails; else loading">
    <div *ngIf="entityDetails.firstName && entityDetails.lastName">
      <p id="welcome">Hola {{ entityDetails.firstName }}</p>
    </div>
  
    <div *ngIf="entityDetails.businessName && entityDetails.category">
      <p>Empresa: {{ entityDetails.businessName }}</p>
      <p>Categoría: {{ entityDetails.category }}</p>
    </div>
  </div>
  <ng-template #loading>
    <p>Cargando detalles...</p>
  </ng-template>

  <div id="main-container">
    <!-- Money Management Section -->
    <div id="moneyManagement">
      <p id="leyenda">Dinero en cuenta</p>
      <p id="balance">$ {{ entity.balance }}</p>
      <button class="buttons" (click)="['/iria el componente de ingresar']">
        <span>Ingresar</span>
      </button>
      <button class="buttons" (click)="['/transaction']">
        <span>Transferir</span>
      </button>
    </div>

    <!-- Transactions List -->
    <div id="transactions">
      <h3>Historial de Transacciones</h3>
      <ul>
        <li *ngFor="let transaction of transactions">
          <app-transaction 
           [transaction]="transaction" 
           [currentUserCVU]="entityCVU" 
           (transactionSelected)="onTransactionSelected($event)">
          </app-transaction>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
